<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar datos</title>
    <link rel="stylesheet" th:href="@{/css/estilos-panel.css}" type="text/css">
</head>
<body>
<div class="header">
    <div class="company-text">
        Empresa Municipal de Agua Potable y Alcantarillado del Cantón Pedro Carbo - Empresa Pública<br>
    </div>
    <div class="user-info">
        <span id="userDropdown">Bienvenido, <span th:text="${username}">Nombre de Usuario</span></span>
        <a href="/logout" class="logout-button">Cerrar sesión</a>
        <div id="userMenu" class="dropdown-content" style="display:none;">
            <a href="/Actualizar-datos">Actualizar Datos</a>
            <a href="/RestPass">Cambiar Contraseña</a>
        </div>
    </div>
</div>

<script>
    document.getElementById('userDropdown').addEventListener('mouseenter', function() {
        document.getElementById('userMenu').style.display = 'block';
    });
    document.querySelector('.user-info').addEventListener('mouseleave', function() {
        document.getElementById('userMenu').style.display = 'none';
    });
</script>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Descripción</th>
        <th>Estado</th>
        <th>Fecha de Creación</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tramite : ${tramites}">
        <td th:text="${tramite.id}"></td>
        <td th:text="${tramite.tipo}"></td>
        <td th:text="${tramite.descripcion}"></td>
        <td th:text="${tramite.estado}"></td>
        <td th:text="${tramite.fechaCreacion}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>