<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Trámites</title>
    <link rel="stylesheet" th:href="@{/css/estilos-panel.css}" type="text/css">
</head>
<body>
<div class="header">
    <div class="company-text">
        Empresa Municipal de Agua Potable y Alcantarillado del Cantón Pedro Carbo - Empresa Pública<br>
    </div>
    <div class="user-info">
        <span id="userDropdown">Bienvenido, <span th:text="${username}">Nombre de Usuario</span></span>
        <a href="/logout" class="logout-button">Cerrar sesión</a>
        <div id="userMenu" class="dropdown-content" style="display:none;">
            <a href="/Actualizar-datos">Actualizar Datos</a>
            <a href="/RestPass">Cambiar Contraseña</a>
        </div>
        <script>
            document.getElementById('userDropdown').addEventListener('mouseenter', function() {
                document.getElementById('userMenu').style.display = 'block';
            });
            document.querySelector('.user-info').addEventListener('mouseleave', function() {
                document.getElementById('userMenu').style.display = 'none';
            });
        </script>
    </div>
</div>
<br>
<button class="logout-button" onclick="history.back()">Regresar</button>
<br>
<h3>Lista de Trámites</h3>

<div class="tabla-container">
    <table class="tabla-tramites">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Subtipo</th>
            <th>Descripción</th>
            <th>Fecha de Creación</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tramite : ${tramites}">
            <td th:text="${tramite.id}">1</td>
            <td th:text="${tramite.tipo}">Tipo</td>
            <td th:text="${tramite.subtipo}">Subtipo</td>
            <td th:text="${tramite.descripcion}">Descripción</td>
            <td th:text="${tramite.fechaCreacion}">Fecha de Creación</td>
            <td th:text="${tramite.estado}">Estado</td>
            <td>
                <form th:action="@{/eliminarTramite}" method="post">
                    <input type="hidden" th:name="id" th:value="${tramite.id}">
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    document.getElementById('backButton').addEventListener('click', function() {
        history.back();
        setTimeout(function() {
            location.reload();
        }, 100);
    });
</script>
<footer>
    <p>&copy; 2024 Empresa Municipal de Agua Potable y Alcantarillado.</p>
</footer>
</body>
</html>

