<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Trámite</title>
    <link rel="stylesheet" th:href="@{/css/estilos-panel.css}" type="text/css">
</head>
<body>
<div class="header">
    <div class="company-text">
        Empresa Municipal de Agua Potable y Alcantarillado del Cantón Pedro Carbo - Empresa Pública<br>
    </div>
    <div class="user-info">
        <span id="userDropdown">Bienvenido, <span th:text="${username}">Nombre de Usuario</span></span>
        <a href="/logout" class="logout-button">Cerrar sesión</a>
        <div id="userMenu" class="dropdown-content" style="display:none;">
            <a href="/Actualizar-datos">Actualizar Datos</a>
            <a href="/RestPass">Cambiar Contraseña</a>
        </div>
    </div>
</div>

<script>
    document.getElementById('userDropdown').addEventListener('mouseenter', function() {
        document.getElementById('userMenu').style.display = 'block';
    });
    document.querySelector('.user-info').addEventListener('mouseleave', function() {
        document.getElementById('userMenu').style.display = 'none';
    });
</script>

<h3>Nuevo Trámite</h3>

<form th:action="@{/tramites/nuevo}" th:object="${tramite}" method="post" enctype="multipart/form-data">
    <label for="tipo">Tipo de Trámite:</label>
    <input type="text" id="tipo" name="tipo" th:field="*{tipo}" required>

    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion" th:field="*{descripcion}" required></textarea>

    <label for="archivos">Subir Archivos:</label>
    <input type="file" id="archivos" name="archivos" multiple required>

    <button type="submit">Guardar</button>
</form>
</body>
</html>
