<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" th:href="@{/css/estilos2.css}" type="text/css">
</head>
<body>
    <div class="header">
    <div class="company-text">
        Empresa Municipal de Agua Potable y Alcantarillado del Cantón Pedro Carbo - Empresa Pública<br>
    </div>
    </div>
    
    <h3>Registro completado con éxito</h3>

    <div class="container">
        <a th:href="@{/Login}">Inicio de sesion</a>

    </div>
    
    <footer>
        <p>&copy; 2024 Empresa Municipal de Agua Potable y Alcantarillado.</p>
    </footer>

    </body>
